body{
    background-color: lightgray;
    overflow-x: hidden;
}
.navigator{
    position: relative;
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-0.6%;
    overflow: hidden;
    background-color: #333;
}
.navigator a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: .8vw;
    font-family: Arial, Helvetica, sans-serif;
}
.header1{
    position: relative;
    margin-top:5%;
    left:30%;
}
.bgcolor{
    position: absolute;
    margin-left: -1%;
    background-color: white;
    height:15vw;
    width:99.5vw;
}
.logo{
    position: absolute;
    top:0%;
    left:11%;
    height:20vw;
    width:20vw;
}
.logo2{
    position: absolute;
    margin-top: -7%;
    left:75%;
    height:10vw;
    width:16vw;
}
.search{
    display: flex;
}
.search_text{
    background-color: white;
    height:4.1vw;
    width:38vw;
    outline: none;
}
.search_button{
    background-color: orangered;
    height:4.45vw;
    width:4.4vw;
    border: 1px solid orangered;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.icons{
    height:3vw;
    width:3vw;
}
.content1{
    position: relative;
    margin-top: 10%;
}
.category {
    overflow: auto;
    position: absolute;
	top: 25%;
	left: 9%;
	width: 25vw;
    height: 30vw;
    background-color: white;
	border: .5px solid;
	border-color: black;
    font-family: sans-serif;
    font-size: 1vw;
}
.category li {
    position: relative;
    left:-9%;
    list-style-type: none;
    padding:.2vw;
    width:22vw;

}
.category li a{
    text-decoration: none;
    left:-1%;
}
.category li:hover{
    background-color: lightgray;
}
.cat1{
    position: absolute;
    top:-1.5%;
    left:-5%;
}
.log_in_form{
    position: relative;
    margin-top: 10%;
    left:20%;
    border:1px solid black;
    height:30vw;
    width:60vw;
    border-radius:2vw 2vw 2vw 2vw;
}
/** Log In Form Section*/
.log_in_container{
    position: relative;
    padding: 15px;
    top:25%;
    left:61%;
}
.log_in_lbl{
    position: absolute;
    top:5%;
    left:69%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Logo_Image{
    position: absolute;
    background-color:rgb(137, 145, 142);
    height:30vw;
    width:30vw;
    border-radius: 2vw 0vw 0vw 2vw;
}
.userImage{
    position: relative;
    height: 15vw;
    height: 15vw;
    top:15%;
    left:25%;
}
.usern{
    height:2vw;
    width:15vw;
}
.pswrd{
    height:2vw;
    width:15vw;
}
.log_in_btn{
    height:3vw;
    width:15.6vw;
    padding: 1vw;
    font-size: 1vw;
}
.sign_up_form{
    position: relative;
    margin-top:5%;
}
.sign_up_form a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
}

/**Advertisement Section*/
.divider1{
    position: relative;
    margin-top: 6.5%;
    left:1%;
    width:80vw;
    border: .5px solid black;
}
.ads2{
    position: absolute;
    left:9%;    
}
.ads2_1{
    position: relative;
    height:8vw;
    width:25vw;
}
.supporters{
    position: relative;
    margin-top: -5%;
}
.support_branches1{
    position: absolute;
    margin-top: 20%;
    left:7%;
    height:20vw;
    width:25vw;
}
.support_branches2{
    position: absolute;
    margin-top: 20%;
    left:37%;
    height:20vw;
    width:25vw;
}
.lblsupp_branch{
    position: relative;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    left:12%;
}
.support_branches1 li{
    list-style-type: none;
}
.support_branches1 li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color:black;
}
.support_branches1 li a:hover{
    background-color: white;
}
.support_branches2 li{
    list-style-type: none;
}
.support_branches2 li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color:black;
}
.support_branches2 li a:hover{
    background-color: white;
}
.logo_branches{
    position: absolute;
    margin-top:20%;
    left:70%;
}
.supp_branch_logo{
    height:10vw;
    width:20vw;
}
.footer{
    position: relative;
    margin-top: 60%;
    margin-left: -1%;
    margin-bottom: 0%;
    background-color: black;
    height:9vw;
    width:101.6%;
}